eSource/App_WebReferences/TxtConnect/txtconnws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://txtconnect.globesolutions.com.ph/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://txtconnect.globesolutions.com.ph/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://txtconnect.globesolutions.com.ph/webservices/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="ValidateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="org" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hash" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInbox">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="serial_min" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInboxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInboxResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSendResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recipients" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="is_subject" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="footer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="is_footer" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="smsc_from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cmts" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="priority" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="delivery_sched" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageListResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDailyLimitResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="ValidateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetInboxSoapIn">
    <wsdl:part name="parameters" element="tns:GetInbox" />
  </wsdl:message>
  <wsdl:message name="GetInboxSoapOut">
    <wsdl:part name="parameters" element="tns:GetInboxResponse" />
  </wsdl:message>
  <wsdl:message name="GetSendSoapIn">
    <wsdl:part name="parameters" element="tns:GetSend" />
  </wsdl:message>
  <wsdl:message name="GetSendSoapOut">
    <wsdl:part name="parameters" element="tns:GetSendResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageListSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageList" />
  </wsdl:message>
  <wsdl:message name="SendMessageListSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDailyLimitSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailyLimit" />
  </wsdl:message>
  <wsdl:message name="GetDailyLimitSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailyLimitResponse" />
  </wsdl:message>
  <wsdl:portType name="TxtConnWSSoap">
    <wsdl:operation name="ValidateUser">
      <wsdl:input message="tns:ValidateUserSoapIn" />
      <wsdl:output message="tns:ValidateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInbox">
      <wsdl:input message="tns:GetInboxSoapIn" />
      <wsdl:output message="tns:GetInboxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSend">
      <wsdl:input message="tns:GetSendSoapIn" />
      <wsdl:output message="tns:GetSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageList">
      <wsdl:input message="tns:SendMessageListSoapIn" />
      <wsdl:output message="tns:SendMessageListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyLimit">
      <wsdl:input message="tns:GetDailyLimitSoapIn" />
      <wsdl:output message="tns:GetDailyLimitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TxtConnWSSoap" type="tns:TxtConnWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://txtconnect.globesolutions.com.ph/webservices/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInbox">
      <soap:operation soapAction="http://txtconnect.globesolutions.com.ph/webservices/GetInbox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSend">
      <soap:operation soapAction="http://txtconnect.globesolutions.com.ph/webservices/GetSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageList">
      <soap:operation soapAction="http://txtconnect.globesolutions.com.ph/webservices/SendMessageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyLimit">
      <soap:operation soapAction="http://txtconnect.globesolutions.com.ph/webservices/GetDailyLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TxtConnWS">
    <wsdl:port name="TxtConnWSSoap" binding="tns:TxtConnWSSoap">
      <soap:address location="http://10.225.80.74:81/webservices/txtconnws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>